.container {
    width: 100%;
    margin-top: 70px;
}

.container-login {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;

    background-image: url(../../assets/bannerlogin.jpg);
    background-size: cover;
    background-position: 0rem;
    background-size: cover;
}

.wrap-login {
    width: 490px;
    background-color: rgba(14, 12, 12, 0.808);
    border-radius: 10%;
    overflow: hidden;
    padding: 45px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}