.categoriaAdm-main{
    margin-top: 70px;
    color: black;
}

.catadm-container{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .cat-views{
} */

.catadm-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.categoriaAdm-title{
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: italic;
}

.buttons-cmd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-edit{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-edit-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-edit-content input{
    width: 200px;
    height: 30px;
}

.form-edit-content button{
    width: 100px;
    height: 30px;
}

.txt-atualizar{
    font-size: 1.2rem;
    font-style: italic;
}